:root {
  font-family:'m5x7', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  box-sizing:border-box;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body{
  margin:0;
}
.health-bar{
  transition:all 1s;
}
